.content {
    max-width: 720px;
    margin: auto;
    padding: 16px;
}

.output {
    font-size: 80%;
    line-height: 80%;
}

.title {
    font-size: 110%;
    font-weight: 500;
}

td {
    padding: 4px;
}

form {
    display: inline-block;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}

textarea {
    width: 100%;
}
